{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %} MusicApp | {{ title }} {% endblock title %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/musicapp/css/style.css' %}">
{% endblock %}


{% block header %}


<style>
  #contain{
    width: 100%;
  }

  .form-box{
    box-shadow: 2px 3px 20px 5px #1412123e;
    padding:1rem 1.5rem;
    margin: 1.3rem auto;
    border-radius:1rem;
  }

  .alternate{
    width: 100%;
    background: transparent;
    border: solid 1px #f7f7f7 !important;
    border: 0.1rem;
    margin-bottom:1rem;
    
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }

  .alternate:hover{
    color: #2c2c2c !important;
    background-color: #f7f7f7;
  }

    .or-seperator {
    margin: 0.5rem auto;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 1rem;
    background: #2c2c2c;
    position: relative;
    top: -11px;
    z-index: 1;
}

form  input{
  background: #2c2c2c !important;
  color: #f7f7f7;
}

.alert{
  border: none;
  background: #ca4a4a !important;
  box-shadow: 2px 3px 20px 5px #141212b9;
}

form input::placeholder{
  color: #f7f7f794 !important;
  font-size: 0.9rem
}

</style>
{% endblock header %}
{% block body %}
<div role="main" class="contain">
  <div class=" form-box col-lg-5">
    <br>
    <h3 class="text-center">Sign Up</h3>
    <br> 
    <a href="{% provider_login_url 'google' process='login' %}" class="btn alternate">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Sign up with Google
    </a>
    <div class="or-seperator"><i>or</i></div>
    <form method="post" >
      {% csrf_token %}
      {{form|crispy}}
      <button class="btn btn-success btn-block" type="submit">Sign Up</button>
    </form>
    <p class="mt-3">Already have an account? Please <a href="{% url 'login' %}" class="text-primary">Log in</a>.</p>
  </div>
  </div>
  


{% endblock body %}