{% extends 'base.html' %} {% load socialaccount %} {% block title %}
MelodiaStream | English Songs {% endblock title %} {% block body %}

<!-- English Songs -->
<div class="container">
  <div class="english-songs-container songs-container">
    <header class="section-heading mb-4">
      <h5 class="section-title">ENGLISH SONGS</h5>
    </header>
    <!-- Song list -->
    <div class="song-list" style="margin-right: 65px; margin-left: -15px">
      {% if english_songs %} {% for song in english_songs %}
      <div class="song-cards">
        <div class="song-card">
          <div class="hovereffect">
            <img src="{{ song.song_img.url}}" class="img-responsive" />
            <div class="overlay">
              <a class="btn" href="{% url 'play_song_index' song.id %}"
                ><span class="material-icons"> play_arrow </span></a
              >
              <a class="btn" href="{% url 'detail' song.id %}"
                ><span class="material-icons"> info </span></a
              >
            </div>
          </div>
        </div>
        <div class="song-desc">
          <h5 class="song-singer">{{song.singer}}</h5>
          <p class="song-name">{{song.name}}</p>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% endblock body %}
