*{
    margin: 0;
    padding:0px
}
/*To use the custom font*/
@font-face {
	font-family: 'sansation_regular';
	src: url("/static/fonts/sansation_regular.ttf");
}
body{
    background-image: url("/static/musicapp/images/new.jpg");
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 1600px 700px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main_title{
    display:inline-block;
}
.main_title h1{
    font-size:30px;
    font-family:sansation_regular,sans-serif;
    color: #ffff;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}



  /*Image holder*/

.image_holder{
    display: inline-block;
    padding: 20px;
}
.image_holder img{
    display: inline-block;
    padding: 10px;
    height: 400px;
    width: 400px;
    margin-left: 20px;
}
  /*image holder ends*/

  /*About main content holder*/
  .about_container{
      padding: 10px;
      float:right;
      height: 300px;
      width: 750px;
      background-color: #B8A6CF;
      margin-right: 110px;
      border-radius: 15px;
      margin-top: 70px;
      box-shadow: 3px 4px 4px rgb(65, 63, 63);  
  }
  .about_container h4{
      font-size: 25px;
      font-family: sansation_regular,sans-serif;
      padding: 20px;
      
  }
  .details p{
      font-size: 17px;
      font-family: 'Montserrat',sans-serif;
      padding: 20px;
      text-align: justify;
      line-height: 1.6;
  }
.copy_right h5{
      font-size: 15px;
      font-family: 'Montserrat',sans-serif;
      font-weight:normal;
      float: right;
      margin-right: 20px;
      margin-top: 20px;
  }



  /*About main container ends*/


   /*Responsive part*/
   @media (max-width: 1024px) {
    .main_title h1{
      font-size: 14px;
    }
    .image_holder img{
      height: 120px;
      width: 100px;
      margin-left: 90px;
      margin-top: -20px;
    }
    .wrapper {
      height: auto;
    }
    nav{
      
      z-index: 3;
    }
    .hamburger{
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      padding-bottom: 20%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
    }
    .navbar-nav{
      position: fixed;
      background: #217bc5;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .navbar-nav.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
      right: 1%
    }
    .navbar-nav li{
      opacity: 0;
      padding-bottom: 20px;
      padding-left: 20%;
    }
    .navbar-nav li:nth-child(1){
      transition: all 0.5s ease 0.2s;
    }
    .navbar-nav li:nth-child(2){
      transition: all 0.5s ease 0.4s;
    }
    .navbar-nav li:nth-child(3){
      transition: all 0.5s ease 0.6s;
    }
    .navbar-nav li:nth-child(4){
      transition: all 0.5s ease 0.7s;
    }
    li.fade{
      opacity: 1;
    }
    .about_container{
      height: 350px;
      width: 300px;
      margin-right: 40px;
    }
    .about_container h4{
      font-size: 15px;
      padding-bottom: 0;
    }
    .details p{
      font-size: 10px;
    }
    .copy_right h5{
      font-size: 10px;
    }
    .social_media{
      margin: 0;
      padding-left: 50px;
      padding-top: 20px;
    }
    .rounded-social-buttons .social-button{
      width: 1.9rem;
      height: 1.9rem;
      font-size: 1.1rem;
    }
  }

/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

